body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.box{
    width: 400px;
    height: 200px;
    background-color: blue;
    animation-name: anim;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    
}


@keyframes anim{
    0%{
        transform: translatex(-400px) skew(25deg) scalex(3) ;
        
    }
    25%{
        border: 5px solid green;
    }
    75%{
        transform: rotate(360deg) scale(0.4);
    }
    100%{
        transform: translatex(0) skewy(25deg) scalex(3); 
    }
}