.box{
    width: 300px;
    height: 200px;
    background: blue;
    
    /* transition-property: all;
    transition-duration: 5s;
    transition-timing-function: ease-in;
    transition-delay: 2s; */
    /* transform: scale(3); */
    transition-duration: 1s;
}
.box:hover{
    /* width: 500px;
    height: 200px;
    background-color: red;
    border-radius: 40px; */
    /* transform: scale(0.5, 4); */
    /* transform: rotate(90deg); */transform: skewy(30deg);

    
}